<!-- The GAME WISHLIST page -->

<%- include('../partials/header') %>
<div class="main">
<div class="pageTitle">
    <h1>Tabletop Wishlist</h1>
</div>
<form class="formBar" method="POST" action="/wishlists/index">  
    <h1>Add a New Game</h1>
    <label class="label">Image URL:</label>
        <input type="text" name="imageUrl">
    <label class="label">Game Title:</label>
        <input type="text" name="title">
    <label class="label">Priority:</label>
    <select class="label" name="priority">
        <option value="Must Purchase">Must Purchase</option>
        <option value="Vote on It">Vote on It</option>
        <option value="Not Priority">Not Priority</option>
        <option value="Wait for Sale">Wait for Sale</option>
      </select>
    <label class="label">Estimated Cost:</label>
        <input type="text"name="price">
    <br>
    <br>
    <input class="addButton" type="submit" value="Add Game">
</form>

<br>
<% users.forEach((w) => { %>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= w.imageUrl %>" alt="...">
    </div>
    <div class="card-title">
        <label class="label">Game Title:</label> <%= w.title %>
    </div>
    <div class="card-text">
        <label class="label">Priority:</label> <%= w.priority %>
    </div>
    <div class="card-text">
        <label class="label">Cost:</label> <%= w.price %>
    </div>
    <form action="/wishlists/<%= w.id %>?_method=DELETE" method="POST"> 
    <div>
        <input class="btn btn-warning" type="submit" value="Remove Game">
    </div>
    </form>
<br>
<hr/>
<% }); %>
</div>

<%- include('../partials/footer') %>