<!-- The VOTE ON GAME page -->

<%- include('../partials/header') %>

<div class="main">
<div class="pageTitle">
    <h1>Vote on a Game</h1>
</div>
<form class="formBar" method="POST" action="/votes/index">
    <h1>Post a Recommendation Below</h1>
    <label class="label">Image URL:</label>
        <input type="text" name="imageUrl">
    <label class="label">Game Title:</label>
        <input type="text" name="title">
    <label class="label">Date Posted:</label>
        <input type="datetime-local" name="datePosted">
    <br>
    <br>
    <input class="addButton" type="submit" value="Add Game">
</form>
<br>

<% users.forEach((c) => { %>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= c.imageUrl %>" alt="...">
    </div>
    <div class="card-title">
        <label class="label">Game Title:</label> <%= c.title %>
    </div>
    <div class="card-text">
        <label class="label">Date Posted:</label> <%= c.datePosted %>
    </div>
    <br>
    <% if (user.googleId === c.googleId) { %>
    <form action="/votes/<%= c.id %>?_method=DELETE" method="POST"> 
        <div>
            <input class="btn btn-danger" type="submit" value="Remove Game">
        </div>
    </form>
    <% } %>
<br>
<form action="/wishlists/<%= c.id %>/votes" method="POST"> 
    <div>
        <input class="btn btn-secondary" type="submit" value="Add Game to Wishlist">
    </div>
</form>
<br>
<% }); %>

</div>

<%- include('../partials/footer') %>