<!-- The VOTE ON GAME page -->

<%- include('../partials/header') %>

<div class="main">
<div class="pageTitle">
    <h1>Vote on a Game</h1>
</div>
    <h1>Vote and/or Comment Below</h1>
<br>
<% users.forEach((c) => { %>
    <div class="card" style="width: 18rem;">
        
    </div>
    <div class="card-title">
        <label class="label">Game Title:</label> <%= c.title %>
    </div>
    <div class="card-text">
        <label class="label">Vote:</label> <%= c.vote %>
    </div>
    <br>
    <form action="/votes/<%= c.id %>?_method=DELETE" method="POST"> 
        <div>
            <input class="btn btn-danger" type="submit" value="Remove Game">
        </div>
    </form>
    <br>
    <hr/>
<% }); %>
</div>

<%- include('../partials/footer') %>