<!-- The GAME COLLECTION page -->

<%- include('../partials/header') %>

<h1>Tabletop Collection / Library</h1>

<h1>Add a New Game</h1>
<form method="POST" action="/">  
    <label class="label">Image URL:</label>
        <input type="text" name="imageUrl">
    <label class="label">Game Title:</label>
        <input type="text" name="title">
    <label class="label">Min Players:</label>
        <input type="text"name="min">
    <label class="label">Max Players:</label>
        <input type="text"name="max">
    <label class="label">BGG Link:</label>
        <input type="text"name="link">
    <br>
    <input class="addButton" type="submit" value="Add Game">
</form>

<h1>Library</h1>
<% users.forEach((g) => { %>
    <div>
        <img class="gameImg" src="<%= g.imageUrl %>" alt="...">
    </div>
    <div>
        <label class="label">Game Title:</label> <%= g.title %>
    </div>
    <div>
        <label class="label">Min Players:</label> <%= g.min %>
    </div>
    <div>
        <label class="label">Max Players:</label> <%= g.max %>
    </div>
    <div>
        <label class="label">BoardGameGeek.com Link:</label> <%= g.link %>
    </div>
    <form action="/<%= game.id %>/library?_method=DELETE" method="POST"> 
    <div>
        <input class="removeButton" type="submit" value="Remove Game">
    </div>
    </form>
    <% }); %>

<%- include('../partials/footer') %>