<!-- The GAME COLLECTION page -->

<%- include('../partials/header') %>
<div class="main">
<div class="pageTitle">
    <h1>Tabletop Collection / Library</h1>
</div>
<form class="formBar" method="POST" action="/">  
    <h1>Add a New Game</h1>
    <label class="label">Image URL:</label>
        <input type="text" name="imageUrl">
    <label class="label">Game Title:</label>
        <input type="text" name="title">
    <label class="label">Min Players:</label>
        <input type="text"name="min">
    <label class="label">Max Players:</label>
        <input type="text"name="max">
    <label class="label">BGG Link:</label>
        <input type="text"name="link">
    <br>
    <br>
    <input class="addButton" type="submit" value="Add Game">
</form>

<br>
<% users.forEach((g) => { %>
    <div>
        <label class="label">Owner / Posted By:</label> <%= g.name %>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= g.imageUrl %>" alt="...">
    </div>
    <div class="card-title">
        <label class="label">Game Title:</label> <%= g.title %>
    </div>
    <div class="card-text">
        <label class="label">Min Players:</label> <%= g.min %>
    </div>
    <div class="card-text">
        <label class="label">Max Players:</label> <%= g.max %>
    </div>
    <div class="card-text">
        <a href="<%= g.link %>">BoardGameGeek.com Link</a>
    </div>    
    <br>
    <% if (user.name === c.name) { %>
    <form action="/games/<%= g.id %>?_method=DELETE" method="POST"> 
        <div>
            <input class="btn btn-danger" type="submit" value="Remove Game">
        </div>
    </form>
    <% } %>
    <br>
<hr/>
<% }); %>
</div>

<%- include('../partials/footer') %>